.container {
    width: 100%;
    height: calc(100dvh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('/home_stj.jpg');
    background-size: cover;
    color: white;
    text-align: center;
}

.container h1 {
    font-size: 70px;
    color: var(--pc)
}

.container h2 {
    font-size: 25px;
    margin-top: 15px;
    color: white;
}

.container p {
    font-size: 20px;
    text-align: center;
    margin: 25px 0 30px 0;
    line-height: 2;
}

@media only screen and (max-width: 1100px) {
    .container h1 {
        font-size: 30px;
    }

    .container h2 {
        font-size: 16px;
        padding: 0 30px;
    }

    .container p {
        font-size: 16px;
        padding: 0 35px;
        margin: 20px 0 25px 0;
    }
}