.wrapper {
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    background-color: white;
}

.container {
    width: 75%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop {
    height: 90px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.heading p {
    font-size: 14px;
    color: #555;
}

.links {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 1100px) {
    .links {
        position: absolute;
        flex-direction: column;
        gap: 0;
        left: 0;
        top: 90px;
        background-color: white;
        height: calc(100dvh - 90px);
        padding: 30px;
        border: .5px solid #ddd;
        width: 80%;
    }
}