.wrapper {
    padding-bottom: 100px;
}

.wrapper h2 {
    text-align: center;
    color: var(--pc);
    font-size: 30px;
    margin: 40px 0 50px 0;
}

.container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.container div {
    height: 300px;
    border-radius: 10px;
    background-size: 100% 100%;
}

.container div.one {
    background-image: url("/St.Joseph-s-home-for-old-aged/about_one.jpg");
}

.container div.two {
    background-image: url("/St.Joseph-s-home-for-old-aged/about_two.jpg");
}

.container div.three {
    background-image: url("/St.Joseph-s-home-for-old-aged/about_three.jpg");
}

.container div.four {
    background-image: url("/St.Joseph-s-home-for-old-aged/about_four.jpg");
}

.container div.five {
    background-image: url("/St.Joseph-s-home-for-old-aged/g_one.jpg");
}

.container div.six {
    background-image: url("/St.Joseph-s-home-for-old-aged/g_two.jpg");
}

.container div.seven {
    background-image: url("/St.Joseph-s-home-for-old-aged/g_three.png");
}

@media only screen and (max-width: 900px) {
    .wrapper h2 {
        font-size: 25px;
        margin: 30px 0 35px 0;
    }

    .container {
        display: block;
        width: 85%;
    }

    .container div {
        margin-bottom: 15px;
        height: 200px;
    }
}